container
    max-width: 1920px // Максимальная ширина сетки (как на макете)
    margin: 0 auto // Центрирует весь блок по экрану (делает равные отступы слева и справа)
    padding: $size-6 24px // По бокам добавляем безопасный отступ для маленьких экранов (планшеты/телефоны)
    font-family: $font-main
    box-sizing: border-box
    
