.container
    width: 1520px
    height: 490px    
.center 
    position: absolute
    width: 1250px
    height: 400px
    top: 65px
    left: 250px
.line1
    font-family: "DM Sans"
.line2
    font-family: "DM Sans"
    display: flex
