.container
    width: 1920px
    height: 490px    
.center 
    position: absolute
    width: 1430px
    height: 360px
    top: 65px
    left: 250px
.title_line
    width: 1430px 
    display: flex
    justify-content: space-between
    font-family: "DM Sans"
.link
    position: absolute
    top: 30px
    left: 1250px
.brand_line
    display: flex
    justify-content: space-around
    font-family: "DM Sans"