$color-main   : #405FF2
$color-accent : #00B67A
$color-black  : #000000
$color-gray-1 : #050B20
$color-gray-2 : #6C6C83
$color-gray-3 : #D0D0D0
$color-gray-4 : #E1E1E1
$color-gray-5 : #E9E9E9
$color-gray-6 : #F9FBFC
$color-white  : #ffffff

$font-main: "DM Sans", sans-serif

$radius-1: 12px
$radius-2: 16px
$radius-full: calc(infinity * 1px)

$transition: 0.3s

$size-1 : 12px
$size-2 : 14px
$size-3 : 16px
$size-4 : 18px
$size-5 : 20px
$size-6 : 30px
$size-7 : 40px
$size-8 : 70px

